
html {
   width: 100vw;
   height: 100vh;
   margin: 0; /* Remove default body margin */
   background-color: #000;
   
}
#logo {
   /* Styles for the logo container */
   position: absolute;
   top: 20px;
   left: 20px;
}
#logo img {
   /* Styles for the logo image */
   width: 200px; /* Adjust the max-width as needed */
   height: auto;
}
#landingPage{
   background: #000;
   padding-top: 70px;
}
.display-4 {
   color:#d4af37;
   font-family: monospace;
}
.lead {
   font: size 60px;
   font-family:monospace;
   font-style: italic;
   color:aliceblue;
   margin:10px 70px;
   padding: 40px;
}
span{
   color:#fcde7d;
   font-family:monospace;


}
.btn {
   display: block;
   padding: 0.7em 1em;
   background: transparent;
   outline: none;
   border: 0;
   color: #d4af37;
   letter-spacing: 0.1em;
   font-family: monospace;
   font-size: 17px;
   font-weight: bold;
   z-index: 1;
  }
 
  .cube {
   position: relative;
   transition: all 0.5s;
  }
 
  .cube .bg-top {
   position: absolute;
   height: 10px;
   background: #d4af37;
   bottom: 100%;
   left: 5px;
   right: -5px;
   transform: skew(-45deg, 0);
   margin: 0;
   transition: all 0.4s;
  }
 
  .cube .bg-top .bg-inner {
   bottom: 0;
  }
 
  .cube .bg {
   position: absolute;
   left: 0;
   bottom: 0;
   top: 0;
   right: 0;
   background: #d4af37;
   transition: all 0.4s;
  }
 
  .cube .bg-right {
   position: absolute;
   background: #d4af37;
   top: -5px;
   z-index: 0;
   bottom: 5px;
   width: 10px;
   left: 100%;
   transform: skew(0, -45deg);
   transition: all 0.4s;
  }
 
  .cube .bg-right .bg-inner {
   left: 0;
  }
 
  .cube .bg-inner {
   background: #28282d;
   position: absolute;
   left: 2px;
   right: 2px;
   top: 2px;
   bottom: 2px;
  }
 
  .cube .text {
   color: #d4af37;
   font-size: 25px;
   position: relative;
   transition: all 0.4s;
  }
 
  .cube:hover .bg-inner {
   background: #d4af37;
  
   transition: all 0.4s;
  }
 
  .cube:hover .text {
   color: #28282d;
   transition: all 0.4s;
  }
 
  .cube:hover .bg-right,
  .cube:hover .bg,
  .cube:hover .bg-top {
   background: #28282d;
  }
 
  .cube:active {
   z-index: 9999;
   animation: bounce .1s linear;
  }
 
  @keyframes bounce {
   50% {
    transform: scale(0.9);
   }
  }
  .loader {
   margin-top: 40px;
   display: inline-flex;
   gap: 10px;
 }
  .loader:before,
 .loader:after {
   content: "";
   height: 20px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
     #fff;
   transform: scaleX(var(--s,1)) rotate(0deg);
   animation: l6 1s infinite linear;
 }
  .loader:after {
   --s: -1;
   animation-delay: -0.1s;
 }
  @keyframes l6 {
   100% {
     transform: scaleX(var(--s,1)) rotate(360deg);
   }
 }
#allNodes {
   display:block;
   width: 60%;
   margin: 100px 40px;


   padding: 10px;
   border: 4px solid #d4af37;
   border-radius: 15px;
}


/* Styling for the card */
.card {
   margin:6px;
   border: 2px solid #f4b536;
   border-radius: 15px; /* Adjust the radius as needed */
}


/* Styling for the card body */
.card-body {
   padding: 20px; /* Adjust the padding as needed */
}


/* Styling for the card title */
.card-title {
   font-size: 1.25rem; /* Adjust the font size as needed */
   margin-bottom: 10px; /* Adjust the margin as needed */
}


/* Styling for the file input */
#fileIn {
   width: 100%; /* Make the input take the full width of the card */
   margin-top: 10px; /* Adjust the margin as needed */
}




#editPreview {


   width: 40%;
   margin: 100px 40px;
   padding: 10px;
   display: grid;
   border: 4px solid #d4af37;
   border-radius: 15px;
   height: 700px;
  
}


/* Additional styling for better appearance */
#editPreview_card {
   width: 100%;
   margin: 1px;
}
.display-3{
   font-size: 14px;
}


/* Styling for the list group items */
.list-group-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   padding: 0;
   margin: 0 0;
}


/* Styling for the form-floating elements */
.form-floating {
   margin-bottom: 0.25rem; /* Adjust the margin as needed */
}


/* Styling for the labels in form-floating */
.form-floating label {
   font-size: 0.875rem; /* Adjust the font size as needed */
}


/* Styling for the submit button */
.btn-outline-primary {
   margin-top: 0px; /* Adjust the margin as needed */
}




#mainframe {
   display: flex;
   width: 100%;
   height: 100%;
   background-color: #000;
}










/*************************************New CSS*/
#viewer{
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}